.autenticar{
    background-image: url(../Img/fondoautenticar2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
}
.fomularioregistrar{
    background-image: url(../Img/registro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
}
.infor{
    background-image: url(../Img/camioneta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
}
.dese{
    background-image: url(../Img/camionetaDes.jpg);
    background-attachment: fixed;
    height: 500px;
    padding: 20px;
    margin: 20px;
}
.cataf{
    background-image: url(../Img/fondo-negro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position:center;
    background-attachment: fixed;
}
.catalogo img{
    transition: transform 0.5s;
}
.catalogo{
    overflow: hidden;
}
.catalogo a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}